$h1-fontSize: 3rem;
$h2-fontSize: 1.8rem;
$h3-fontSize: 1.6rem;
$font-size: 1.2rem;
$font-stack: "futura-pt", Georgia, sans-serif;
$user-icon: url('../images/user-icon.svg') no-repeat;
$heart-icon: url('../images/heart.svg') no-repeat;